<h1>Dostepne produkty</h1>

<div style="display: flex; align-items: center; gap: 10px;">
  <app-koszyk [wartoscKoszyka]="wartoscKoszyka"></app-koszyk>
  <button (click)="wyczyscKoszyk()" title="wyczysc koszyk" style="font-size: 24px; cursor: pointer;">❌</button>
</div>

<button (click)="toggleProdukty()">
  {{ pokazProdukty ? 'Ukryj produkty' : 'Pokaż produkty' }}
</button><br><br>

<div *ngIf="pokazProdukty">
  <div *ngFor="let produkt of produkty">
    <app-product [produkt]="produkt" (dodaj)="dodajDoKoszyka($event)"></app-product>
  </div>
</div>
